.wrapper{
    display: inline-block;
}
h1{
    text-align: center;
    color: cadetblue;
}
.screen{
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 10px;
    padding: 10px;
    font-size: 18px;
    color: hsl(0, 0%, 27%);
   
    
}
.text{
    display: block;
    width: 800px;
    height: 190px;
    font-size: 18px;
    color: #444444;
    border: 1px solid rgb(63, 48, 78);
}
.keyboard {
    display: inline-block;
     border: 2px solid rgb(63, 48, 78);
     padding: 5px;
     width: 1100px;
    margin-left: 100px;
    
}
.key{
    
        text-align: center;
        display: inline-table;
        width: 50px;
        height: 50px;
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
        float: left;
        line-height: 3;
    }


.active{
    background-color: rgb(137, 150, 199);
    border: 1px solid red;
 
       color: red;
}
.backspase{
    display: inline-block;
    
}
.bacspac{
    background-color: black;
    
}

    
